* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #aa57cc;
}
.wrapper {
    max-width: 500px;
    border-radius: 7px;
    background-color: #fff;
    padding: 25px 25px 15px;
}
header h1 {
    font-size: 27px;
    font-weight: 500;
}
header p {
    margin-top: 5px;
    font-size: 18px;
    color: #474747;
}
.inputs {
    margin: 20px 0 27px;
}

.inputs input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 19px;
    padding: 0 17px;
    border-radius: 5px;
    border: 1px solid #999;
}
.inputs input:focus  {
    box-shadow: 0 3px 6px rgb(0,0,0,0.15);
}
.inputs button {
    width: 100%;
    height: 56px;
    outline: none;
    opacity: 0.7;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    pointer-events: none;
    background-color: #aa57cc;
}
.info-text {
    font-size: 19px;
    display: none;
    text-align: center;
    margin-bottom: 18px;
}
.info-text span {
    color: #aa57cc;
}
button.active {
    opacity: 1;
    pointer-events: all;
}